/* .cm-header-1 {
    color: #2E7D32;
    text-decoration: underline;
}
.cm-header-2 {
    color: #43A047;
    text-decoration: underline;
}
.cm-header-3 {
    color: #66BB6A;
    text-decoration: underline;
}
.cm-header-4 {
    color: #A5D6A7;
    text-decoration: underline;
}
.cm-header-5 {
    color: #E8F5E9;
    text-decoration: underline;
} */
